<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HermesMobile.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key><true/>
			<key>orderHint</key><integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BB579ADEB53A099B76DB589</key>
		<dict><key>primary</key><true/></dict>
		<key>7B04007FC76BC95C646A4BA8</key>
		<dict><key>primary</key><true/></dict>
	</dict>
</dict>
</plist>
